### Obtenemos los animes y usuarios de la base de datos

In [1]:
import pymongo
client = pymongo.MongoClient('mongodb://anal:anal18@18.220.137.254/anal')
db = client['anal']

In [62]:
usersdb = db['users']
animesdb = db['animes']
tagsdb = db['tags']

In [63]:
animes = animesdb.find({ }).count()
tags = tagsdb.find({ }).count()
users = usersdb.find({ }).count()

In [64]:
print(animes)
print(tags)
print(users)

6398
405
2854

_____

### Dataset de usuarios

In [5]:
import pandas as pd
users= usersdb.find()
usersdf = pd.DataFrame(list(users))

In [6]:
usersdf.head()

,_id,age,animes,animesSeen,gender
0,sothis,37,"[{'animeId': 1, 'ratingUser': 0}, {'animeId': ...",969,Female
1,Slayer,40,"[{'animeId': 970, 'ratingUser': 5.0}, {'animeI...",133,Male
2,DistMan,35,"[{'animeId': 970, 'ratingUser': 0}, {'animeId'...",381,Male
3,Modesty81,37,"[{'animeId': 5, 'ratingUser': 2.5}, {'animeId'...",314,Female
4,Nanashi,35,"[{'animeId': 15, 'ratingUser': 0}, {'animeId':...",192,Female

In [7]:
len(usersdf['animes'][0])

969

### Dataset de animes

In [37]:
animes= animesdb.find()
animesdf = pd.DataFrame(list(animes))
animesdf = animesdf.drop('rating',1).rename(index=str, columns={"_id": "animeId"})

In [38]:
animesdf.head()

,animeId,tags,title
0,1,"[Fantasy, Romance, Abstract, Dream World, Midd...",1001 Nights
1,2,"[Comedy, Ecchi, Fantasy, Seinen, Superpowers, ...",11eyes Special
2,3,[],2005-nen Uchuu no Tabi
3,4,"[Comedy, CG Animation, Crude, Original Work, S...",3D Onara Gorou ga Dance Dance Dance!!
4,5,"[Action, Fantasy, Seinen, Demons, Magic, Expli...",3 x 3 Eyes

### Dataset animeID/raitingUser/userID

In [11]:
#Se crea la estructura : 'animeId' 'ratingUser' 'userId'. Es decir el rating que cada usuario le da a cada anime que ha visto
animesWdf=  pd.DataFrame(list(usersdf.iloc[0]['animes']))
animesWdf['userId']=usersdf.iloc[0]['_id']

cantUsers=len(usersdf)-1 #-1 del primer usuario analizado arriba
for i in range(cantUsers):
    xd=  pd.DataFrame(list(usersdf.iloc[i+1]['animes']))
    xd['userId']=usersdf.iloc[i+1]['_id']
    animesWdf = pd.concat([animesWdf, xd],ignore_index=True)

In [13]:
animesWdf.head()

   animeId  ratingUser  userId
0        1         0.0  sothis
1        2         4.0  sothis
2        3         2.0  sothis
3        4         0.5  sothis
4        5         3.0  sothis

___

# Sistema de recomendación

In [30]:
import numpy as np

### Tabla pivot

In [19]:
ratings = pd.merge(animesdf, animesWdf)
ratings.head()

   animeId        title  ratingUser          userId
0        1  1001 Nights         0.0          sothis
1        1  1001 Nights         4.0       karplusan
2        1  1001 Nights         1.0       AnarchicQ
3        1  1001 Nights         0.0  KeeperofDemons
4        1  1001 Nights         0.0         Sythlia

In [28]:
R_df = animesWdf.pivot_table(index=['userId'],columns=['animeId'],values='ratingUser')
R_df.head()

animeId,1,2,3,4,5,6,7,8,9,10,...,6389,6390,6391,6392,6393,6394,6395,6396,6397,6398
userId,,,,,,,,,,,,,,,,,,,,,
06mandik10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1010rikku,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1337willi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13579dra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13Girl,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
R = R_df.as_matrix()
user_ratings_mean = np.mean(R, axis = 1)
R_demeaned = R - user_ratings_mean.reshape(-1, 1)

## Singular Value Decomposition

In [32]:
from scipy.sparse.linalg import svds
U, sigma, Vt = svds(R_demeaned, k = 50)

/home/gina_bustamante/anaconda3/lib/python3.6/site-packages/numpy/core/_methods.py:26: RuntimeWarning: invalid value encountered in reduce
  return umr_maximum(a, axis, None, out, keepdims)
/home/gina_bustamante/anaconda3/lib/python3.6/site-packages/scipy/sparse/linalg/eigen/arpack/arpack.py:1781: RuntimeWarning: invalid value encountered in greater
  above_cutoff = (eigvals > cutoff)

In [34]:
sigma = np.diag(sigma)

### Haciendo predicciones

In [35]:
all_user_predicted_ratings = np.dot(np.dot(U, sigma), Vt) + user_ratings_mean.reshape(-1, 1)
preds_df = pd.DataFrame(all_user_predicted_ratings, columns = R_df.columns)

In [76]:
preds_df.head()

animeId,1,2,3,4,5,6,7,8,9,10,...,6389,6390,6391,6392,6393,6394,6395,6396,6397,6398
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Haciendo recomendaciones

In [58]:
def recommend_animes(predictions_df, userID, animes_df, original_ratings_df, num_recommendations=5):
    
    # Obtenemos y ordenamo las predicciones de cada usuario
    user_row_number = userID - 1 # UserID starts at 1, not 0
    sorted_user_predictions = predictions_df.iloc[user_row_number].sort_values(ascending=False)
    
    # Obtener los datos del usuario ya gregar la información de la película
    user_data = original_ratings_df[original_ratings_df.userId == (userID)]
    user_full = (user_data.merge(animes_df, how = 'left', left_on = 'animeId', right_on = 'animeId').
                     sort_values(['ratingUser'], ascending=False)
                 )

    print('El usuario {0} ya ha puntuado {1} animes.'.format(userID, user_full.shape[0]))
    print('{0} Animes con los puntajes predecidos mas altos'.format(num_recommendations))
    
    # Recomendar los animes con los valores predecidos mas altos que el usuario todavía no ha visto
    recommendations = (animes_df[~animes_df['animeId'].isin(user_full['animeId'])].
         merge(pd.DataFrame(sorted_user_predictions).reset_index(), how = 'left',
               left_on = 'animeId',
               right_on = 'animeId').
         rename(columns = {user_row_number: 'Predictions'}).
         sort_values('Predictions', ascending = False).
                       iloc[:num_recommendations, :-1]
                      )

    return user_full, recommendations

### Pruebas

In [75]:
already_rated, predictions = recommend_animes(preds_df, 1000, animesdf, animesWdf, 10)

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [72]:
already_rated.head(10)

Empty DataFrame
Columns: [ratingUser, userId, animeId, tags, title]
Index: []

In [74]:
predictions

,animeId,tags,title
0,1,"[Fantasy, Romance, Abstract, Dream World, Midd...",1001 Nights
1,2,"[Comedy, Ecchi, Fantasy, Seinen, Superpowers, ...",11eyes Special
2,3,[],2005-nen Uchuu no Tabi
3,4,"[Comedy, CG Animation, Crude, Original Work, S...",3D Onara Gorou ga Dance Dance Dance!!
4,5,"[Action, Fantasy, Seinen, Demons, Magic, Expli...",3 x 3 Eyes
5,6,"[Action, Fantasy, Seinen, Demons, Magic, Expli...",3 x 3 Eyes - Seima Densetsu
6,7,"[Drama, Romance, Childhood Friends, Original W...",5 Centimeters per Second
7,8,"[Environmental, Original Work, Shorts]",663114
8,9,"[Action, Sci Fi, Shounen, Cyborgs, Police, Sup...",8 Man After
9,10,"[Action, Comedy, Ecchi, Shounen, Gangs, Hand t...",Abashiri Family