# Obtencion de datos
Para obtener los datos se uso como fuente al sitio web de finanzas de Yahoo: https://finance.yahoo.com/ . Para esto a su vez, se uso la libreria pandas_datareader que dispone de una funcion get_data_yahoo en donde se especifica el simbolo del indice, la fecha de inicio y la fecha de fin de los datos a extraer. Se extrajeron en total 16 indices

Se eligio como fecha de inicio y fin a: 30/3/2000 y 30/3/2020 respectivamente 20 años de datos.

In [0]:
import pandas_datareader as pdr
import datetime 

start = datetime.datetime(2000, 3, 30)
end = datetime.datetime(2020, 3, 30)
#Peru PEN
SPBLPGPT = pdr.get_data_yahoo('^SPBLPGPT',start,end)
#Brasil BRL
BVSP = pdr.get_data_yahoo('^BVSP',start,end) 
#Chile
IPSA = pdr.get_data_yahoo('^IPSA',start,end) 
#Argentina USD
MERV  = pdr.get_data_yahoo('^MERV',start,end) 
#Mexico
MXX = pdr.get_data_yahoo('^MXX',start,end) 
#USA S&P 500 
GSPC = pdr.get_data_yahoo('^GSPC',start,end) 
#USA Dow Jones Industrial 500
DJI = pdr.get_data_yahoo('^DJI',start,end) 
#Paris CAC
FCHI = pdr.get_data_yahoo('^FCHI',start,end) 
#Alemania DAX
GDAXI = pdr.get_data_yahoo('^GDAXI',start,end) 
#Japon Nikkei225
N225 = pdr.get_data_yahoo('^N225',start,end) 
#China Hang Seng Index Hong Kong
HSI = pdr.get_data_yahoo('^HSI',start,end) 
#India SENSEX
SENSEX = pdr.get_data_yahoo('^BSESN',start,end)
#Australia S&P/ASX200
ASX200= pdr.get_data_yahoo('^AXJO',start,end)
#UK FTSE
FTSE = pdr.get_data_yahoo('%5EFTSE%3FP%3D%5EFTSE',start,end) 
#Copper May 20 Future HG=F
COPPER = pdr.get_data_yahoo('HG=F',start,end)
#España ^IBEX
IBEX = pdr.get_data_yahoo('^IBEX',start,end)


Aqui se puede visualizar un ejemplo de los datos que se obtienen por cada indice (High, Low, Open, Close, Volume, Adj Close):

In [120]:
SENSEX

                    High           Low  ...    Volume     Adj Close
Date                                    ...
2000-03-30   5058.439941   4891.399902  ...       0.0   5041.080078
2000-03-31   5022.240234   4867.229980  ...       0.0   5001.279785
2000-04-03   5085.000000   4977.209961  ...       0.0   5052.939941
2000-04-04   4907.410156   4666.950195  ...       0.0   4691.459961
2000-04-05   4852.450195   4601.580078  ...       0.0   4757.060059
...                  ...           ...  ...       ...           ...
2020-03-25  28790.189453  26359.910156  ...  141500.0  28535.779297
2020-03-26  30099.910156  28566.339844  ...   35000.0  29946.769531
2020-03-27  31126.029297  29346.990234  ...  116900.0  29815.589844
2020-03-30  29497.570312  28290.990234  ...   23200.0  28440.320312
2020-03-31  29770.880859  28667.359375  ...   26400.0  29468.490234

[4925 rows x 6 columns]

Aqui se realiza un pequeño tratamiento de los datos del indice ASX200 de Australia, dado que se identifico un error en las fechas al compararlas con la fuente original, este error fue debido a la misma libreria usada, en la que existian registros desde el año 2000 en el que estaban un dia adelantados

In [0]:
newIndex = ASX200.loc['2000-08-27':].index + pd.DateOffset(1)
newIndex = ASX200.loc[:'2000-08-25'].index.append(newIndex)
ASX200['newIndex']=newIndex
ASX200.set_index('newIndex',inplace=True)
ASX200 = ASX200.rename_axis(index={'newIndex':'Date'})
ASX200.drop(ASX200.tail(1).index,inplace=True)

In [122]:
ASX200

                   High          Low  ...     Volume    Adj Close
Date                                  ...
2000-03-30  3194.100098  3194.100098  ...        0.0  3194.100098
2000-03-31  3133.300049  3133.300049  ...        0.0  3133.300049
2000-04-03  3191.000000  3133.800049  ...        0.0  3191.000000
2000-04-04  3199.000000  3170.699951  ...        0.0  3176.800049
2000-04-05  3176.500000  3144.000000  ...        0.0  3155.399902
...                 ...          ...  ...        ...          ...
2020-03-24  4735.700195  4546.000000  ...  1408000.0  4735.700195
2020-03-25  5024.500000  4735.700195  ...  1355600.0  4998.100098
2020-03-26  5174.399902  4998.100098  ...  1216700.0  5113.299805
2020-03-27  5236.700195  4842.399902  ...  1456800.0  4842.399902
2020-03-30  5181.399902  4833.100098  ...  1033800.0  5181.399902

[5053 rows x 6 columns]

Almacenamos los indices en una lista para su posterior preprocesamiento:

In [0]:
Indices=[MXX,SPBLPGPT,BVSP,IPSA,MERV,DJI,GSPC,FCHI,FTSE,GDAXI,SENSEX,HSI,N225,ASX200,COPPER,IBEX]

#Preprocesamiento

### Filtrado de columnas innecesarias
Dado que solo nos interesa el precio de cierre inmediato al cerrar el horario de negociacion de cada bolsa, se mantendra solo la columna "Close", esto se dara en todos los indices excepto en el de Lima. En este ultimo indice tambien nos interesa su valor de apertura pues servira como un posible factor de influencia para el modelo predictivo:

In [0]:
import pandas as pd
#Se filtran las columnas innecesarias para el modelo
openLima=pd.DataFrame(Indices[1]["Open"])
for i in range(len(Indices)):
  Indices[i]=Indices[i].drop(['High','Low','Open','Volume','Adj Close'],axis=1)

In [125]:
Indices[10]

                   Close
Date
2000-03-30   5041.080078
2000-03-31   5001.279785
2000-04-03   5052.939941
2000-04-04   4691.459961
2000-04-05   4757.060059
...                  ...
2020-03-25  28535.779297
2020-03-26  29946.769531
2020-03-27  29815.589844
2020-03-30  28440.320312
2020-03-31  29468.490234

[4925 rows x 1 columns]

### Integracion de los datos en un solo dataframe
Se juntan todos los dataframes de los indices en uno solo. Para este paso todos los dataframes han de tener solo una columna con el valor de cierre de su respectivo indice, con excepcion del de Lima.

In [0]:
df=pd.DataFrame()

for i in range(len(Indices)):
  df=pd.concat([df,Indices[i]], join='outer', axis=1)

df=pd.concat([df,openLima],join='outer',axis=1)

In [0]:
#Nombramos las columnas respecto a la region de cada indice
df.columns=['Mexico','Lima','Brasil','Chile','Argentina','DJI','SP500','Francia','ReinoUnido','Alemania','India','China','Japon','Australia','Cobre','España','LimaOpen']

In [128]:
df

                  Mexico          Lima  ...        España      LimaOpen
Date                                    ...
2000-03-30   7604.490234   1655.500000  ...  11833.400391   1661.170044
2000-03-31   7473.250000   1663.069946  ...  11935.000000   1655.739990
2000-04-03   7378.819824   1654.619995  ...  11686.400391   1664.739990
2000-04-04   7194.830078   1644.380005  ...  11584.200195   1654.640015
2000-04-05   7272.839844   1674.000000  ...  11374.599609   1645.579956
...                  ...           ...  ...           ...           ...
2020-03-26  35706.570312  14483.459961  ...   7033.200195  14543.990234
2020-03-27  33799.488281  13892.620117  ...   6777.899902  14483.240234
2020-03-29           NaN           NaN  ...           NaN           NaN
2020-03-30  34199.968750  13911.730469  ...   6659.899902  13878.400391
2020-03-31           NaN           NaN  ...           NaN           NaN

[5765 rows x 17 columns]

### Analisis de datos inusuales

In [129]:
for column in df.columns:
  nullVals= df[column].isna().sum()
  total= len(df)
  porc= nullVals*100/total
  print('El indice de',column,'tiene',nullVals,'dias con valores nulos de',total,'registros    ', round(porc,2),'%')

El indice de Mexico tiene 750 dias con valores nulos de 5765 registros     13.01 %
El indice de Lima tiene 908 dias con valores nulos de 5765 registros     15.75 %
El indice de Brasil tiene 817 dias con valores nulos de 5765 registros     14.17 %
El indice de Chile tiene 1418 dias con valores nulos de 5765 registros     24.6 %
El indice de Argentina tiene 880 dias con valores nulos de 5765 registros     15.26 %
El indice de DJI tiene 734 dias con valores nulos de 5765 registros     12.73 %
El indice de SP500 tiene 734 dias con valores nulos de 5765 registros     12.73 %
El indice de Francia tiene 657 dias con valores nulos de 5765 registros     11.4 %
El indice de ReinoUnido tiene 725 dias con valores nulos de 5765 registros     12.58 %
El indice de Alemania tiene 692 dias con valores nulos de 5765 registros     12.0 %
El indice de India tiene 840 dias con valores nulos de 5765 registros     14.57 %
El indice de China tiene 839 dias con valores nulos de 5765 registros     14.55 %
El indice de Japon tiene 864 dias con valores nulos de 5765 registros     14.99 %
El indice de Australia tiene 712 dias con valores nulos de 5765 registros     12.35 %
El indice de Cobre tiene 731 dias con valores nulos de 5765 registros     12.68 %
El indice de España tiene 686 dias con valores nulos de 5765 registros     11.9 %
El indice de LimaOpen tiene 908 dias con valores nulos de 5765 registros     15.75 %

A partir del dataframe generado en el paso anterior, podemos visualizar que varios indices tienen valores nulos en sus registros. En especial el indice IPSA de Chile que practicamente dobla a los demas. Pasamos a revisar el rango de fechas en donde se encontraron registros del indice inicialmente

In [130]:
IPSA

                   High          Low  ...  Volume    Adj Close
Date                                  ...
2002-01-02  1188.479980  1183.150024  ...     0.0  1185.750000
2002-01-03  1196.880005  1185.520020  ...     0.0  1195.930054
2002-01-04  1211.189941  1195.099976  ...     0.0  1203.380005
2002-01-07  1204.329956  1186.939941  ...     0.0  1188.949951
2002-01-08  1190.130005  1167.890015  ...     0.0  1168.010010
...                 ...          ...  ...     ...          ...
2019-06-10  5019.779785  4951.129883  ...     0.0  5018.990234
2019-06-11  5093.939941  5018.990234  ...     0.0  5069.240234
2019-06-12  5085.790039  5057.109863  ...     0.0  5067.850098
2019-06-13  5076.470215  5054.629883  ...     0.0  5071.759766
2019-06-14  5072.830078  5041.520020  ...     0.0  5058.879883

[4347 rows x 6 columns]

Econtramos que los datos registrados solo se registraron entre 2002 y 2019. Esto crea una señal de que los datos no estan siendo actualizados y por lo tanto limitan su uso en el modelo objetivo. Es por esto que se decide sacar a este indice del conjunto de datos.

In [131]:
df.drop("Chile", axis=1, inplace=True)
df

                  Mexico          Lima  ...        España      LimaOpen
Date                                    ...
2000-03-30   7604.490234   1655.500000  ...  11833.400391   1661.170044
2000-03-31   7473.250000   1663.069946  ...  11935.000000   1655.739990
2000-04-03   7378.819824   1654.619995  ...  11686.400391   1664.739990
2000-04-04   7194.830078   1644.380005  ...  11584.200195   1654.640015
2000-04-05   7272.839844   1674.000000  ...  11374.599609   1645.579956
...                  ...           ...  ...           ...           ...
2020-03-26  35706.570312  14483.459961  ...   7033.200195  14543.990234
2020-03-27  33799.488281  13892.620117  ...   6777.899902  14483.240234
2020-03-29           NaN           NaN  ...           NaN           NaN
2020-03-30  34199.968750  13911.730469  ...   6659.899902  13878.400391
2020-03-31           NaN           NaN  ...           NaN           NaN

[5765 rows x 16 columns]

Finalmente se analiza la cantidad de valores nulos en los demas conjuntos de datos, en donde se encuentra niveles de normales de valores nulos dados los dias en que otras bolsas si tienen registros. Estos son causados por los dias no laborables como feriados o fines de semana que se cruzan. Su tratamiento se realizara en la implementacion de los modelos predictivos validando cual enfoque es el que mejor desempeño genera

In [132]:
for column in df.columns:
  nullVals= df[column].isna().sum()
  total= len(df)
  porc= nullVals*100/total
  print('El indice de',column,'tiene',nullVals,'dias con valores nulos de',total,'registros')

El indice de Mexico tiene 750 dias con valores nulos de 5765 registros
El indice de Lima tiene 908 dias con valores nulos de 5765 registros
El indice de Brasil tiene 817 dias con valores nulos de 5765 registros
El indice de Argentina tiene 880 dias con valores nulos de 5765 registros
El indice de DJI tiene 734 dias con valores nulos de 5765 registros
El indice de SP500 tiene 734 dias con valores nulos de 5765 registros
El indice de Francia tiene 657 dias con valores nulos de 5765 registros
El indice de ReinoUnido tiene 725 dias con valores nulos de 5765 registros
El indice de Alemania tiene 692 dias con valores nulos de 5765 registros
El indice de India tiene 840 dias con valores nulos de 5765 registros
El indice de China tiene 839 dias con valores nulos de 5765 registros
El indice de Japon tiene 864 dias con valores nulos de 5765 registros
El indice de Australia tiene 712 dias con valores nulos de 5765 registros
El indice de Cobre tiene 731 dias con valores nulos de 5765 registros
El indice de España tiene 686 dias con valores nulos de 5765 registros
El indice de LimaOpen tiene 908 dias con valores nulos de 5765 registros

# Almacenamiento de los datos
Se quiere guardar los datos en una instancia de base de datos mysql. Para esto se hace uso de la libreria pymysql y sqlalchemy y una instancia de base de datos ya creada en AWS RDS, la tabla se llamara: indices_dataset

---

In [133]:
!pip install pymysql

Requirement already satisfied: pymysql in /usr/local/lib/python3.6/dist-packages (0.9.3)

In [0]:
import pymysql
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://Chaps:dejarhuella12@chaps-1.ckzdev3xn88t.us-east-2.rds.amazonaws.com:3306/tesis')

In [0]:
df.to_sql(con=engine, name='indices_dataset', if_exists='replace')

In [136]:
pd.read_sql('select * from indices_dataset;', con=engine)

           Date        Mexico          Lima  ...   Cobre        España      LimaOpen
0    2000-03-30   7604.490234   1655.500000  ...  0.8025  11833.400391   1661.170044
1    2000-03-31   7473.250000   1663.069946  ...  0.8000  11935.000000   1655.739990
2    2000-04-03   7378.819824   1654.619995  ...  0.7975  11686.400391   1664.739990
3    2000-04-04   7194.830078   1644.380005  ...  0.7890  11584.200195   1654.640015
4    2000-04-05   7272.839844   1674.000000  ...  0.7865  11374.599609   1645.579956
...         ...           ...           ...  ...     ...           ...           ...
5760 2020-03-26  35706.570312  14483.459961  ...  2.1855   7033.200195  14543.990234
5761 2020-03-27  33799.488281  13892.620117  ...  2.1670   6777.899902  14483.240234
5762 2020-03-29           NaN           NaN  ...  2.1525           NaN           NaN
5763 2020-03-30  34199.968750  13911.730469  ...  2.1720   6659.899902  13878.400391
5764 2020-03-31           NaN           NaN  ...     NaN           NaN           NaN

[5765 rows x 17 columns]